# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Perform Operations Daily - Predict and Create Simulation Files
on:
  workflow_dispatch:
  schedule:
    - cron: "30 18 * * *"
jobs:
  predict30:
    name: predict30
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict30
        run: |
          python predict30.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  predict60:
    name: predict60
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict60
        run: |
          python predict60.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  predict90:
    name: predict90
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict90
        run: |
          python predict90.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  predict180:
    name: predict180
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict180
        run: |
          python predict180.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  predict360:
    name: predict360
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict360
        run: |
          python predict360.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  predict720:
    name: predict720
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict720
        run: |
          python predict720.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  predict1080:
    name: predict1080
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: predict1080
        run: |
          python predict1080.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master

  createsimulationfiles:
    name: createsimulationfiles
    continue-on-error: true
    needs: [predict30, predict60, predict90, predict180, predict360, predict720, predict1080]
    runs-on: ubuntu-latest
    steps:
      - name: Removing Unnecessary Files
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Create Simulation Files
        run: |
          python create_simulation_files.py
          python simulation.py
      - name: Setup Github Config
        run: |
          git config --global user.name "saikr789"
          git config --global user.email "saikrishna.nama@msitprogram.net"
      - name: Commiting New Files
        continue-on-error: true
        run: |
          git pull origin master
          git add *
          git commit -m "`date +'%d-%m-%Y'`"
          git push origin master
